# This is the top-most .editorconfig file
root = true

# Apply to all files
[*]
indent_style = tabs
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# Use tabs for Makefiles (required)
[Makefile]
indent_style = tab
indent_size = 4

# Don't trim whitespace in Markdown files
# (since two spaces at the end of a line is a hard line break)
[*.md]
trim_trailing_whitespace = false
